/**
 * ## Config: Colors
 *
 * All config on the site should (nay, must!) come from here. If you need to
 * add a color, first consider whether you really need to (you probably don't),
 * and then add the color to here.
 *
 * All config should be added in HSL or HSLA format. No hex. No RGB. Definitely
 * no keyword-config (seriously, the default keyword config are terrible).
 */

//-------------------------------------------------------------------
// Background and Text
//-------------------------------------------------------------------

$color-bg: hsla(0, 0%, 100%, 1) !default;
$color-bgOffset: hsla(60, 44%, 89%, 1) !default;
$color-bgDarkOffset: hsla(0, 0%, 50%, 1) !default;
$color-text: hsla(201, 12%, 30%, 1) !default;

//-------------------------------------------------------------------
// Links
//-------------------------------------------------------------------

$color-link: hsla(270, 100%, 50%, 1) !default;
$color-focusedLink: hsla(270, 100%, 67%, 1) !default;
$color-visitedLink: hsla(275, 25%, 50%, 1) !default;

//-------------------------------------------------------------------
// Accents
//-------------------------------------------------------------------

$color-accent: hsla(80, 67%, 35%, 1) !default;
$color-altAccent: hsla(80, 33%, 93%, 1) !default;
