// ## Config: Colors
//
// All config on the site should (nay, must!) come from here. If you need to
// add a color, first consider whether you really need to (you probably don't),
// and then add the color to here.
//
// All config should be added in HSL or HSLA format. No hex. No RGB. Definitely
// no keyword-config (seriously, the default keyword config are terrible).

$color-bg:           hsla(  0,   0%, 100%, 1) !default;
$color-bg--off:      hsla( 60,   0%,  89%, 1) !default;
$color-bg--off-dark: hsla(  0,   0%,  50%, 1) !default;
$color-text:         hsla(  0,   0%,  10%, 1) !default;
$color-text--light:  hsla(  0,   0%,  80%, 1) !default;
$color-text--dark:   hsla(  0,   0%,   0%, 1) !default;
$color-link:         hsla(240,  80%,  60%, 1) !default;
$color-link--focus:  hsla(240,  80%,  77%, 1) !default;

