// ## Config: Typography
//
// All things typography. Font families, font sizes, font styles. This is all
// pre-tested to look good, so always make sure to use the values given here,
// and not just invent your own stuff elsewhere.

$font-family-primary:   "Georgia", "Tahoma", "sans-serif" !default;
$font-family-monospace: "Consolas", "Monaco", "Andale Mono", "monospace" !default;

$font-size-giga:     3rem    !default;
$font-size-mega:     2.5rem  !default;
$font-size-kilo:     2.25rem !default;
$font-size-jumbo:    2rem    !default;
$font-size-largest:  1.75rem !default;
$font-size-larger:   1.5rem  !default;
$font-size-large:    1.25rem !default;
$font-size-base:     1rem    !default;
$font-size-small:    0.9rem  !default;
$font-size-smaller:  0.8rem  !default;
$font-size-smallest: 0.7rem  !default;

$line-height-base: 1.5em !default;
$letter-spacing-base: 0 !default;

