// ## Config: Z-Index
//
// Don't ever use non-standard z-index values, use these instead.
//
// $z-index-1 should only be used for the document background.
// $z-index-9 should only be used for whole-document overlays.
// $z-index-5 is the standard middle ground height.

$z-index-1: 100 !default;
$z-index-2: 200 !default;
$z-index-3: 300 !default;
$z-index-4: 400 !default;
$z-index-5: 500 !default;
$z-index-6: 600 !default;
$z-index-7: 700 !default;
$z-index-8: 800 !default;
$z-index-9: 900 !default;

