/**
 * ## Components: Container
 *
 * The main site container.
 */

.container {
    margin: 1rem;

    @media screen and (min-width: 44rem) {
        width: 36rem;
        margin: 6rem;
    }
}

h1 {
    font-weight: 700;
}

h1 a {
    color: $color-text--dark;
    text-decoration: none;
}

img {
    max-width: 5rem;
    border-radius: 0.25em;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-figure {
    margin-right: 1em;
}

.media-body {
    flex: 1;
}

nav {

    font-size: 0.8rem;
    line-height: 1.5em;

    padding-bottom: 2rem;
    border-bottom: 1px solid hsla(240, 80%, 95%, 1);
    margin-bottom: 2rem;
}

nav li {
    display: inline-block;
    width: 50%;
    float: left;
}

nav a {
    font-weight: 700;
}

nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

nav li {
    margin-top: 0.5em;
}

nav li:first-child {
    margin-top: 0;
}

nav li span {
    display: block;
}

.clearfix {
    clear: both;
}

