/**
 * ## Components: Container
 *
 * The main site container.
 */

.container {
	margin: 1rem;

	@media screen and (min-width: 48rem) {
		width: 40rem;
		margin: 6rem auto;
	}
}

h1 {
    font-weight: 700;
    font-family: $font-family-monospace;
}

h1 a {
    color: $color-text--dark;
    text-decoration: none;
}

