// ## Base: Type
//
// This sets the standard font sizes and styles for all typography on the site,
// using values taken directly from the configuration.

// Set the font size and line height to the base levels on the body element
// and the headers, and then replace as needed on the headers (exploit the
// wonders of the cascade).
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: $font-size-base;
	line-height: $line-height-base;
}

// The most important header is also the largest, just to make sure that it
// stands out amongst all the others.
h1 {
	font-size: $font-size-largest;
}

h1 span {
    display: block;
    font-size: $font-size-base;
    font-weight: 500;
}

// The second and third most important headers share the same size, and should
// be differentiated based on other styles.
h2 {
	font-size: $font-size-larger;
	margin-bottom: $rhythm-base;
}

h3 {
	font-size: $font-size-larger;
	margin-top: 0.5 * $rhythm-base;
	margin-bottom: 0.25 * $rhythm-base;
}

// The fourth and fifth are grouped same as the second and third, and are also
// differentiated by style.
h4 {
	font-size: $font-size-large;
}

h5 {
	font-size: $font-size-large;
}

// The sixth and final header is the same size as standard text, and is
// differentiated from it solely by style.
h6 {
	font-size: $font-size-base;
}
